/* Imported INTER font from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
@import "tailwindcss";

@layer base {
  /* Global body setup */
  body {
    @apply font-inter m-0 overflow-x-hidden bg-[#000319] p-0;
  }

  h1 {
    @apply text-5xl leading-none font-bold md:text-5xl lg:text-7xl;
  }
  h2 {
    @apply text-4xl;
  }
  h3 {
    @apply text-xl font-medium md:text-2xl;
  }
  h4 {
    @apply text-[12px] md:text-base;
  }
}

@layer components {
  .nav-bar-btn {
    @apply hover:text-mainWhite cursor-pointer uppercase transition-all duration-300;
  }
}

@theme {
  --font-inter: "Inter", sans-serif;
  --color-mainBackground: #000319;
  --color-lightPurple: #cbacf9;
  --color-mainGray: #c1c2d3;
  --color-mainWhite: #ffffff;
  --color-borderGray: #6971a2;
  --color-secondaryGray: #e4ecff;
}

/* Mouse loader */
.loader {
  width: 1.875rem;
  height: 3.125rem;
  box-sizing: border-box;
  border: 0.125rem solid #fff;
  position: relative;
  border-radius: 50% 50% 50% 50% / 25% 25% 25% 25%;
}

.loader::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 50%);
  width: 0.3125rem;
  height: 0.3125rem;
  background: #7843e9;
  border-radius: 50%;
  animation: fadeDown 1.2s ease-out infinite;
}

@keyframes fadeDown {
  0% {
    top: 0%;
    opacity: 1;
  }
  100% {
    top: 60%;
    opacity: 0;
  }
}

@keyframes infinite-slider {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-infinite-slider {
  animation: infinite-slider 30s linear infinite;
}
